VITE_SERVER_DEVELOPMENT_BASE_URL=http://localhost:6145/api/v1
CHOKIDAR_USEPOLLING=true
CHOKIDAR_INTERVAL=100

# Clerk
VITE_CLERK_PUBLISHABLE_KEY=clerkPublishableKey
CLERK_SECRET_KEY=clerk_Secret_KEY