SERVER_PORT=6145
NODE_ENV=development
DATABASE_URL_DEVELOPMENT=postgresql://opsdash_dev:passdev123@opsdash-db-dev:5432/opsdash_db
SERVER_BCRYPT_SALT_ROUND=10
SERVER_JWT_SECRET=fdakfkajfiJ*&Y&*HJHNJ@hkjhfqwe*Hiuhqjj2
CLIENT_URL_DEVELOPMENT=http://localhost:5173/

# Postgres
POSTGRES_USER=opsdash_dev
POSTGRES_PASSWORD=passdev123
POSTGRES_DB=opsdash_db
POSTGRES_PORT=5432